@{
    Layout = null;
}
<html>
<head>
    <title>Web lab first</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/WebLab1.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/WebLab1.js")
    <script language="JavaScript">
        var pos = 100;
        function Scroll() {
            if (!document.getElementById("text")) return;
            obj = document.getElementById("text");
            pos -= 1;
            if (pos < 0 - obj.offsetHeight + 350) return;
            obj.style.top = pos;
            window.setTimeout("Scroll();", 30);
        }
    </script>
</head>
<body>
    <div class="links-tab">
        @Html.ActionLink("Go to apply", "Index", null, new { @class = "link" })
        @Html.ActionLink("Photos", "Photos", null, new { @class = "link" })
        @Html.ActionLink("Text", "Text", null, new { @class = "link" })
    </div>
    <div class="container text-window">
        <div id="text">
            <p>
                NET Framework (pronounced dot net) is a software framework developed by Microsoft that runs primarily on Microsoft Windows. It includes a large class library named Framework Class Library (FCL) and provides language interoperability (each language can use code written in other languages) across several programming languages. Programs written for .NET Framework execute in a software environment (in contrast to a hardware environment) named Common Language Runtime (CLR), an application virtual machine that provides services such as security, memory management, and exception handling. (As such, computer code written using .NET Framework is called "managed code".) FCL and CLR together constitute .NET Framework.
            </p>
            <p>
                FCL provides user interface, data access, database connectivity, cryptography, web application development, numeric algorithms, and network communications. Programmers produce software by combining their source code with .NET Framework and other libraries. The framework is intended to be used by most new applications created for the Windows platform. Microsoft also produces an integrated development environment largely for .NET software called Visual Studio.
            </p>
            <p>
                .NET Framework began as proprietary software, although the firm worked to standardize the software stack almost immediately, even before its first release. Despite the standardization efforts, developers, mainly those in the free and open-source software communities, expressed their unease with the selected terms and the prospects of any free and open-source implementation, especially regarding software patents. Since then, Microsoft has changed .NET development to more closely follow a contemporary model of a community-developed software project, including issuing an update to its patent promising to address the concerns.
            </p>
            <p>
                .NET Framework led to a family of .NET platforms targeting mobile computing, embedded devices, alternative operating systems, and web browser plug-ins. A reduced version of the framework, .NET Compact Framework, is available on Windows CE platforms, including Windows Mobile devices such as smartphones. .NET Micro Framework is targeted at very resource-constrained embedded devices. Silverlight was available as a web browser plugin. Mono is available for many operating systems and is customized into popular smartphone operating systems (Android and iOS) and game engines. .NET Core targets the Universal Windows Platform (UWP), and cross-platform and cloud computing workloads.
            </p>
            <p>
                <b>[<a href="javascript:pos=100;Scroll();">Почати знову</a>]</b>
            </p>
        </div>
    </div>
    <script>
        Scroll();
    </script>
</body>
</html>